a {
  text-decoration: none;
  color: #000;
}

.my-movies{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.my-movies .title{
  padding-bottom: 14px;
}

.my-movies .message{
  font-size: 20px;
}

.my-movies .movie-title{
  font-size: 28px;
  font-weight: 400;
}

.my-movies ul{
  width: 1215px;
  max-width: 100%;
  padding: 0 60px;
}

.my-movies .movie{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
}

.my-movies .movie img {
  max-width: 30%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.my-movies .movie .infos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.my-movies .movie .options {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 25px;
}


.favorites div{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 834px) and (min-width: 480px) {
  .my-movies ul{
    padding: 0 30px;
  }
  .my-movies .movie-title{
    font-size: 20px;
  }
  .my-movies .movie img {
    max-width: 40%;
  }
  .options svg {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .my-movies,
  .my-movies .movie,
  .infos {
    display: flex;
    flex-direction: column;
  }
  .my-movies ul{
    padding: 0 25px;
  }
  .my-movies .movie-title{
    font-size: 26px;
    width: 100%;
    padding-left: 20px;
    display: flex;
    text-align: left;
  }
  .my-movies .movie img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  .options {
    justify-content: flex-end;
    padding: 20px 0;
  }

  .options svg {
    width: 20px;
    height: 20px;
  }
}