a {
  text-decoration: none;
  color: #000;
}

.my-movies{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.my-movies .title{
  padding-bottom: 14px;
}

.my-movies .message{
  font-size: 20px;
}

.my-movies .movie-title{
  font-size: 28px;
  font-weight: 400;
}

.my-movies ul{
  width: 1070px;
}

.my-movies .movie{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
}

.my-movies .movie img {
  max-width: 30%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.my-movies .movie .infos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.my-movies .movie .options {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 25px;
}


.favorites div{
  display: flex;
  justify-content: center;
  align-items: center;
}
