*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: rgb(233, 233, 233);
}

body::-webkit-scrollbar {
  display: none;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}

.app{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}